doctype
html
  head
    title Flexbox Test
    link(rel="stylesheet", href="main.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
  body
    h1 hallo
    .boxframe
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt
      .box Inhalt